.button-filter-clear {
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  border: 0;
  text-decoration: underline;
  height: 20px;
  background: transparent;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}