.filter-main-title {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-family: OpenSans, sans-serif;
  padding: 0 0 0 28px;

  &__ico {
    margin: 0 10px 0 0;
  }
}