.footer-main-menu {
  display: flex;

  & > ul {
    list-style: none;
    padding: 0;
    width: 200px;
    margin: 0 4px;
    
    & li {
      margin: 0 0 2px;
      
      & a {
        color: #fff;
        text-decoration: none;
        font-family: OpenSans,sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        display: inline-flex;
        align-items: center;
        min-height: 24px;
        padding: 5px;

        &:hover, &:active, &:focus {
          text-decoration: underline;
          outline: none;
        }
      }
    }
  }
}