.soc-net {

  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-item {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    user-select: none;
    outline: none;

    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}