.button-order-continue {
  flex-shrink: 0;
  border: 0;
  background: transparent;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: 14px;
  line-height: 14px;
  color: #191a1b;
  font-weight: bold;
  font-family: OpenSans, sans-serif;

  &:hover, &:focus, &:active {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}