.button-go-cart {
  border: 2px solid #191a1b;
  border-radius: 2px;
  color: #191A1B;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  font-family: OpenSans, sans-serif;
  min-width: 175px;
  height: 45px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FBE11A;
  box-shadow: none;
  transition: .15s;
  text-decoration: none;
  user-select: none;
  outline: none;

  &:hover {
    text-decoration: none;
    box-shadow: none;
    color: #FBCD18;
    background: #191A1B;
  }
}