.order-card {
  position: relative;
  display: flex;
  padding: 14px;
  border: 1px solid #999999;
  border-radius: 2px;

  & + & {
    margin: 10px 0 0;
  }

  &__left {
    flex-shrink: 0;
    display: flex;
    width: 550px;
  }

  &__right {
    flex-shrink: 0;
    display: flex;
    width: 171px;
    border-left: 1px solid #999;
    padding: 0 6px;
  }

  &__block {
    padding: 0 20px;
  }

  &__wrap-img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    display: block;
    overflow: hidden;

    & img {
      display: block;
      width: 100%;
    }
  }
}