.order-card-amount {
  margin: 0 0 10px;

  & .amount {
    display: flex;
    width: 60px;
    height: 20px;

    & input {
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #191A1B;
      border-radius: 2px;
      font-size: 14px;
      color: #191a1b;
      text-align: center;
      background: transparent;
      margin: 0;
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background: transparent;
      cursor: pointer;
      margin: 0;
      float: none;
    }
  }
}