.order-card-price {
  display: flex;
  align-items: flex-end;

  &__num {
    flex-shrink: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: OpenSans, sans-serif;
    color: #191a1b;
    font-weight: bold;
  }

  &__val {
    flex-shrink: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: OpenSans, sans-serif;
    color: #191a1b;
    font-weight: bold;
  }

  &__old-val {
    flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    font-family: OpenSans, sans-serif;
    color: #FF3232;
    text-decoration: line-through;
    margin: 0 0 0 8px;
  }
}