.goods {
  box-sizing: border-box;

  & * {
    box-sizing: border-box;

    &:after, &:before {
      box-sizing: border-box;
    }
  }

  & li {
    width: 240px;
    height: 410px;
    margin: 0 10px;
    text-align: left;
    padding: 12px 14px;
  }

  & li .name {
    width: 100%;
    margin-left: 0;
    height: 25px;
    min-height: 25px;
    overflow: hidden;
    margin-bottom: 10px;

    a {
      width: 100%;
      color: #333;
      font-size: 18px;
      line-height: 25px;
      font-weight: bold;
      font-family: OpenSans, sans-serif;
      text-decoration: none;
      display: block;
    }
  }

  & li .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 156px;
    margin-bottom: 10px;
  }

  & li .img img {
    height: auto;
    width: auto;
    max-width: 156px;
    max-height: 156px;
  }

  & .action_g {
    top: 180px;
    width: 100%;
    display: flex;
    justify-content: center;

    & > div {
      font-size: 12px;
      line-height: 12px;
      font-weight: bold;
      color: #fff;
      border: 1px solid #FBE11A;
      background: #333;
      border-radius: 2px;
      min-width: 76px;
      width: auto;
      height: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: OpenSans, sans-serif;
    }
  }

  & li .country {
    top: 60px;
    right: 14px;
  }

  & li .art {
    display: block;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #999;
    font-family: OpenSans, sans-serif;
    padding: 0;
    margin: 0;
  }

  & li .title {
    display: block;
    height: 16px;
    min-height: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #999;
    font-weight: bold;
    font-family: OpenSans, sans-serif;
    padding: 0;
    margin: 0 0 10px;
  }

  & li .prise {
    margin: 0 0 10px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    display: flex;
    align-items: center;
    color: #333;
    font-family: OpenSans, sans-serif;

    & .abr {
      font-size: 18px;
      margin: 0 11px 0 0;
      font-family: OpenSans, sans-serif;
    }

    & .old {
      font-size: 14px;
      font-family: OpenSans, sans-serif;
    }
  }

  & li .button {
    border: 2px solid #191a1b;
    border-radius: 2px;
    color: #191A1B;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    font-family: OpenSans, sans-serif;
    width: 100%;
    margin-bottom: 5px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBE11A;
    box-shadow: none;
    transition: .15s;

    &:hover {
      box-shadow: none;
      color: #FBCD18;
      background: #191A1B;
    }
  }

  & .button-quick-order {
    border: 0;
    border-radius: 2px;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    font-family: OpenSans, sans-serif;
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #40BAF1;
    box-shadow: none;
    transition: .15s;
    cursor: pointer;

    &:hover {
      box-shadow: none;
      background: #247da5;
    }
  }
}

.mobile .text-mob-list-wrapper .text-mob-list:first-child .text-mob-list__item:nth-child(1) {

}

.mobile .text-mob-list-wrapper .text-mob-list:last-child .text-mob-list__item:nth-child(1) {

}