.header-main-login {
  position: relative;
  top: 1px;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  &__user {
    flex-shrink: 0;
    display: block;
    color: #FBE11A;
    font-size: 12px;
    line-height: 14px;

    & a {
      color: #FBE11A;
      text-decoration: none;
    }
  }

  &__action {
    flex-shrink: 0;
    display: block;
    color: #FBE11A;
    font-size: 12px;
    line-height: 14px;

    & a {
      color: #FBE11A;
      text-decoration: none;
    }
  }

  &__ico {
    flex-shrink: 0;
    display: block;
    margin: 0 10px;
  }
}