.header-main-logo {
  display: flex;
  align-items: center;
  margin: 0 65px 0 0;
  
  &__ico {
    flex-shrink: 0;
    display: block;
    user-select: none;
    outline: none;
    text-decoration: none;

    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
  
  &__text {
    position: relative;
    top: 1px;
    flex-shrink: 0;
    display: block;
    width: 120px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    margin: 0 0 0 17px;

    & span {
      display: block;
    }
  }
}