.header-main-menu-top {
  flex-shrink: 0;
  height: 100%;

  & > ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      position: relative;
      margin: 0 21px 0 0;

      @media (hover: hover) {
        &:hover {
          & a svg {
            transform: rotate(180deg);
          }
        }
      }

      & a {
        font-size: 12px;
        line-height: 14px;
        color: #ACACAC;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        padding: 8px 0;
        white-space: nowrap;
        display: flex;
        align-items: center;

        & svg {
          display: block;
          margin: 0 0 0 7px;
        }

        @media (hover: hover) {
          &:hover {
            & + ul {
              display: block;
            }
          }
        }
      }

      & > ul {
        position: absolute;
        z-index: 1;
        min-width: calc(100% + 30px);
        top: 100%;
        left: -15px;
        list-style: none;
        margin: 0;
        padding: 10px 0;
        display: none;
        background: #191A1B;

        @media (hover: hover) {
          &:hover {
            display: block;
          }
        }

        & li {
          margin: 0 0 5px;

          & a {
            padding: 5px 15px;
          }
        }
      }
    }
  }
}