.header-main-tel-list {
  display: flex;
  align-items: center;

  &__item {
    margin: 0 20px 0 0;
  }

  &__ico {
    margin: 0 8px 0 0;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
  }
}