.popup-buy-content {
  position: relative;
  z-index: 1;
  max-width: 468px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  background: #F5F5F5;
  margin: 0 5px;

  &__header {
    display: flex;
    align-items: center;
    min-height: 56px;
    background: #575757;
  }

  &__body {
    padding: 16px 5px;
  }

  &__footer {
    padding: 10px 5px;
  }
}