.popup-button-order {
  min-width: 250px;
  display: inline-flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: 2px solid #191A1B;
  border-radius: 2px;
  font-size: 16px;
  color: #333;
  padding: 0 15px;
  background: #FBE11A;
  font-weight: bold;
  outline: none;
  user-select: none;

  &:hover, &:focus, &:active {
    outline: none;
    user-select: none;
  }
}