.popup-buy-title {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'OpenSans', sans-serif;
  color: #fff;

  &__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 56px;
    margin: 0 4px 0 0;
  }
}