.modal-main-content {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 770px;
  border-radius: 2px;
  overflow: hidden;
  background: #F5F5F5;
  margin: 0 5px;

  &__header {
    display: flex;
    align-items: center;
    min-height: 56px;
    background: #575757;
  }

  &__body {
    padding: 8px 16px;
  }

  &__footer {
    padding: 10px 16px;
  }
}