.modal-main-close {
  width: 46px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;

  &:hover, &:focus, &:active {
    outline: none;
  }
}