.btn-text-more-info {
  font-size: 10px;
  color: #344e9f;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  user-select: none;
  background: transparent;
  padding: 0;
  height: auto;
  min-height: 0;

  &:hover {
    text-decoration: underline;
  }
}